@import url('https://fonts.googleapis.com/css?family=Quicksand&subset=latin-ext');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  font-family: Quicksand, sans-serif;
  background: linear-gradient(141deg, #9fb8ad 0%, #1fc8db 51%, #2cb5e8 75%);
  color:white;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.location-timezone,
.temp{
  height: 30vh;
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.temp{
  flex-direction: column;
}

.degree-section{
  display: flex;
  align-items: center;
  cursor: pointer;
}

.degree-section span{
  margin: 10px;
  font-size: 24px;
}

.temp h2{
  font-size: 40px;
}
