@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@media screen and (max-width: 600px){
body{
  color: white;
  }
}

*{
  margin: 0;
  padding: 0;
  font-family: open sans;
}

body{
  background-color: #f954;
}

header{
  text-align: center;
  padding-top: 70px;
}

#header{
  margin: auto
}

#header-img{
  max-width: 50%;
  margin-top: 20px;
}

nav{
  text-align: center;
  width: 100%;
  background-color: #e843;
  margin: auto;
  position: fixed;
  top: 0;
  width: 100%;
}


nav min-height: 300px {
position: fixed;
top: 0;
left: 0;
}

ol{
  list-style-type: none;
  display: inline-block;
}

li{
  display: block;
  float: left;
  padding: 15px;
  border-left: 1px solid;
  border-left-style: dotted;
}

li:last-child{
  border-right: 1px solid;
  border-right-style: dotted;
}

.clear{
  clear:both;
}

a{
  color: black;
}

a:link{
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover{
  font-weight: bold;
}

#video{
  padding-top: 10px;
  display: flex;
  align-items: center;
}

p{
  text-align: justify;
  padding-left: 10px;
  padding-right: 10px;
}

#blabla{
  display: flex;
  width: 100%;
}

#blabla div{
  border: 1px #ccc solid;
  padding: 10px;
}
